# Ignorar o ambiente virtual
venv/
pyvenv.cfg

# Ignorar cache do Python
__pycache__/
*.py[cod]

# Ignorar arquivos temporários do sistema
*.DS_Store
*.log
*.swp
*.swo
Thumbs.db

# Ignorar arquivos do Streamlit, como cache
.streamlit/
.stcache/
.stcache/*

# Ignorar configurações locais e arquivos temporários
.env
.env.local
*.bak
*.tmp

# Ignorar arquivos de configuração do Jupyter Notebook, se aplicável
.ipynb_checkpoints/

# Excluir arquivos grandes ou temporários que possam ser gerados
tempfile/
tmp/

# Manter apenas o código e o requirements.txt
